.business-price {
  display: none;
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  width: 270px;
  min-height: 395px;
  background-color: $absolute-white;
  border-radius: 20px;

  &--opened {
    display: block;
  }
}

.business-price__price-list {
  @include font-light($grey);
  @include font-size(16px, 22px);
  padding-left: 25px;
  margin-top: 40px;
}

.business-price__title {
  text-align: center;
}

.business-price__price-item {
  margin-bottom: 23px;
}

.business-price__close {
  @include font-bold($dark-blue-three);
  @include font-size(16px, 24px);
  @include round-bottom-corners(20px);
  display: block;
  width: 100%;
  min-height: 60px;
  margin-top: -16px;
  padding-top: 9px;
  text-transform: uppercase;
  text-align: center;
  background-color: $grey-two;
}

@media (min-width: $tablet-width) {
  .business-price {
    width: 690px;
    min-height: 525px;
  }
}
