.calendar {
  text-align: center;
  margin-bottom: 30px;
}

.calendar__month {
  @include font-bold($dark-blue-three);
  @include font-size(20px, 20px);
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  padding: 10px 0;
}

.calendar__days {
  margin: 0 auto;
  border-collapse: collapse;
}

.calendar__day-of-week {
  @include font($grey);
  @include font-size(14px, 18px);
  text-transform: uppercase;
  padding: 5px;
}

.calendar__day-of-week--weekend {
  color: $orange-red;
}

.calendar__day-number {
  @include font-size(14px, 18px);
  padding: 7px;
  background-color: $white-three;
  border: 1px solid $light-grey;
}

.calendar__day-number--disabled {
  color: $greyish-brown;
  background-color: transparent;
}

.calendar__day-number--checked {
  color: $absolute-white;
  background-color: $dark-blue-three;
}

.calendar__day-number--active {
  border: 2px solid $orange-red;
}
