.contacts {
  @include font($absolute-white);
  @include font-size(16px, 22px);
  @include round-bottom-corners(25px);
  padding-bottom: 20px;
  background-color: $yellow;
  position: relative;
  z-index: 2;
}

.contacts__wrapper {
  @include round-bottom-corners(25px);
  min-height: 200px;
  padding: 25px;
  margin-bottom: 20px;
  background-color: $dark-blue;
}

.contacts__tagline {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}

.contacts__tel,
.contacts__email {
  @include font-bold($yellow);
  @include font-size(16px, 22px);
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 100px;
  text-transform: uppercase;
}

.contacts__address {
  @include font-bold($dark-blue);
  @include font-size(16px, 22px);
  margin: 0 auto;
  text-transform: uppercase;
  font-style: normal;
  padding: 25px 40px 25px 75px;
}

.contacts__map-link {
  @include font-bold($dark-blue-three);
  @include font-size(18px, 18px);
  padding: 15px;
  margin: 10px 20px;
  display: block;
  border: 2px solid $dark-blue;
  border-radius: 7px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .contacts__tagline br {
    display: none;
  }

  .contacts__address {
    text-align: center;
  }

  .contacts__address br {
    display: none;
  }
}
