.country-list {
  @include clear-list;
  padding: 15px 20px;
}

.country-list__label {
  @include font($grey);
  @include font-size(16px, 22px);
}

@media (min-width: $tablet-width) {
  .country-list {
    width: max-content;
    padding-top: 0;
  }
}
