.countries {
  @include clear-list;
  @include font-medium($dark-blue-three);
  @include font-size(15px, 18px);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

.countries__item:nth-child(2n) {
  margin: 0 20px;
}

.countries__item {
  position: relative;
}

.countries__item:hover .tooltip {
  display: block;
}

.countries__country-flag {
  width: 35px;
  height: 25px;
}
