.countries {
  @include clear-list;
  @include font-medium($dark-blue-three);
  @include font-size(15px, 18px);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-top: -20px;

  &--catalog {
    margin: unset;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 10px;
    margin-bottom: 11px;
  }
}

.countries__item {
  margin-right: 11px;
  margin-left: 7px;
}

.countries__item--catalog:nth-child(2n) {
  margin: 0 0;
  margin-bottom: 10px;
}

.countries__item {
  position: relative;

  &--catalog {
    display: flex;
    margin-bottom: 9px;
  }
}

.countries__item:hover .tooltip {
  display: block;
}

.countries__country-flag {
  width: 35px;
  height: 25px;
}

.countries__item--catalog .countries__country-flag {
  width: 26px;
  height: 18px;
  margin-right: 11px;
}

@media (min-width: $tablet-width) {
  .countries {
    &--catalog {
      flex-direction: row;
    }
  }

  .countries__item--catalog {
    @include font-size(20px, 30px);
    margin-right: 19px;
  }

  .countries__item--catalog:nth-child(2n) {
    margin-right: 19px;
  }

  .countries__item--catalog .countries__country-flag {
    width: 51px;
    height: 25px;
    margin-right: 3px;
  }
}

@media (min-width: $desktop-width) {
  .countries--catalog {
    flex-direction: column;
    position: absolute;
    top: 48px;
    left: 657px;
  }

  .countries__item--catalog .countries__country-flag {
    margin-right: 10px;
  }
}
