.countries {
  @include clear-list;
  @include font-medium($dark-blue-three);
  @include font-size(15px, 18px);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

.countries__item {
  margin-left: 15px;
}
