.directions {
  @include round-bottom-corners(29px);
  position: relative;
  z-index: 1;
  padding: 10px;
  background-color: $white-three;
}

.directions__article {
  @include font-light($grey);
  @include font-size(16px, 22px);
}

.directions__user-image {
  @include round-block(100px, 100px);
}

.directions__change-image {
  @include font-bold($dark-blue-two);
  @include font-size(17px, 30px);
  text-align: center;
  text-transform: uppercase;
  padding: 10px 50px;
  background-color: $pale-grey-two;
  border-radius: 20px;
}

.directions__wrapper {
  padding: 40px;
  padding-bottom: 45px;
}

.direction__show-all {
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 22px;
  padding-left: 23px;
}

@media (min-width: $tablet-width) {
  .directions {
    background: url("../../img/flags-back@1x.png") no-repeat 92% 70px;
    background-size: 230px;
    background-color: $white-three;
  }

  .directions__title {
    @include font-size(45px, 45px);
  }

  .directions__article {
    @include font-size(28px, 33px);
    padding-right: 230px;
    margin-bottom: 100px;
  }

  .direction__show-all {
    max-width: 100%;
    padding-left: 5%;
  }
}

@media (min-width: $desktop-width) {
  .directions__country-wrapper {
    min-width: 560px;
    margin-right: 190px;
    padding-top: 40px;
  }

  .directions__wrapper {
    padding: 0;
  }

  .directions__title {
    @include font-size (45px, 45px);
  }

  .directions__article {
    @include font-size(28px, 33px);
    padding: 0;
    max-width: 340px;
  }

  .directions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .direction__show-all {
    position: absolute;
    right: 20%;
    bottom: 70px;
    min-width: 275px;
    padding: 20px;
  }
}
