.directions {
  @include round-bottom-corners(20px);
  padding: 50px;
  background-color: $white-three;
}

.directions__article {
  @include font-light($grey);
  @include font-size(16px, 22px);
}

.directions__user-image {
  @include round-block(100px, 100px);
}

.directions__change-image {
  @include font-bold($dark-blue-two);
  @include font-size(17px, 30px);
  text-align: center;
  text-transform: uppercase;
  padding: 10px 50px;
  background-color: $pale-grey-two;
  border-radius: 20px;
}

.directions__wrapper {
  padding: 40px;
}

.direction__show-all {
  max-width: 270px;
  margin: 0 auto;
}

@media (min-width: 630px) {

  .directions {
    background: url(../../img/flags-back@1x.png) no-repeat 92% 70px;
    background-size: 230px;
    position: relative;
    z-index: 1;
    background-color: $white-three;
  }

  .directions__article {
    padding-right: 300px;
    margin-bottom: 100px;
  }

  .direction__show-all {
    max-width: 100%;
    padding-left: 5%;
    box-shadow: 0 -50px 30px  $absolute-white;
    /* <сдвиг по x> <сдвиг по y> <радиус размытия> <растяжение> <цвет>; */
  }
}
