.filter-country {
  display: none;
  background-color: $white;
  padding: 20px;
  padding-left: 31px;

  &--head {
    @include round-bottom-corners(20px);
    display: flex;
    max-width: 350px;
    height: 72px;
    justify-content: space-between;
    align-items: baseline;
    padding: 31px 26px;
    margin: -30px auto -41px;
  }

  &--opened {
    display: block;
  }

  &--opened + .filter-country {
    display: block;
  }
}

.filter-country__region-list {
  display: none;
}

.filter-country__region-all {
  display: none;
}

.filter-country__title {
  @include font-size(16px, 22px);
  color: $dark-blue;
  text-transform: uppercase;

  &--mobile-filter {
    display: none;
  }
}

.filter-country__button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  padding-left: 15px;
  padding-right: 0;

  &--mobile-filter {
    display: none;
  }
}

.filter-country__close {
  @include font-bold($dark-blue-two);
  @include font-size(16.5px, 29.5px);
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 270px;
  height: 40px;
  background-color: $white-two;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 4px;
  padding-top: 6px;
}

.filter-country__close-icon {
  width: 13px;
  height: 13px;
  margin-left: -14px;
  margin-right: 9px;
}

.filter-country__list {
  display: none;
}

.filter-country__region-close {
  display: none;
}

.filter-country__list-collapse {
  display: none;
}

@media (min-width: $tablet-width) {
  .filter-country {
    margin-top: -30px;

    &--head {
      @include font-bold($dark-blue);
      @include font-size(20px, 24px);
      @include round-bottom-corners(55px);
      text-transform: uppercase;
      display: flex;
      max-width: unset;
      min-width: 100%;
      min-height: 177px;
      margin: -40px 0 0 0;
      padding: 70px 72px 0 67px;
    }
  }

  .filter-country__region-all {
    display: block;
  }

  .choise-country__land-list {
    display: none;
  }

  .filter-country__icon,
  .filter-country__title {
    display: none;
  }

  .filter-country__region-list {
    @include clear-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 5px;
    margin-right: 39px;
  }

  .filter-country__region-item {
    opacity: 0.3;
    margin-right: 28px;

    &--active {
      opacity: 1;
    }
  }

  .filter-country__button {
    font-size: 48px;
    margin-right: 0;
    padding: 0;
    margin-left: 6px;
  }

  .filter-country__close {
    @include font-size(20px, 30px);
    min-width: 615px;
    padding-top: 35px;
    padding-bottom: 63px;
    margin-top: 59px;
    margin-left: 46px;
  }

  .filter-country__close-icon {
    width: 18px;
    height: 18px;
    margin-right: 14px;
    margin-left: -5px;
  }
}

@media (min-width: $desktop-width) {
  .filter-country {
    &--head {
      max-width: 1325px;
      justify-content: flex-start;
      padding-top: 81px;
      padding-left: 23px;
      margin-bottom: 11px;
    }

    &--opened .filter-country__list {
      display: table;
    }

    &--opened .filter-country__list-collapse {
      display: block;
    }
  }

  .filter-country__region-all {
    &--hide {
      display: none;
    }
  }

  .filter-country__title,
  .filter-country__region-list {
    @include font-size(20px, 24px);
  }

  .filter-country__icon,
  .filter-country__title {
    display: block;
  }

  .filter-country__icon {
    width: 23px;
    height: 15px;
    margin-right: 20px;
  }

  .filter-country__title {
    margin-right: 32px;
  }

  .filter-country__button {
    display: none;
  }

  .filter-country__region-close {
    display: block;
    margin-left: auto;
  }

  .filter-country__close-icon {
    margin-right: 0;
    margin-left: 56px;

    &--collapse {
      margin-left: 0;
      margin-right: 13px;
    }
  }

  .filter-country__list-wrap {
    margin: 0 auto;
    max-width: 1325px;
    padding: 0;
    padding-top: 2px;
    margin-left: 11px;
    display: block;
    background-color: unset;
  }

  .filter-country__list {
    display: table;
    margin: 0 auto;
  }

  .filter-country__list th {
    @include font-bold($dark-blue);
    @include font-size(60px, 24px);
    text-align: left;
    height: 60px;
    padding: 0;
    width: 250px;
  }

  .filter-country__list td {
    vertical-align: top;
    padding-top: 30px;
    padding-bottom: 47px;
    padding-left: 0;
  }

  .filter-country__list ul {
    @include font($grey);
    @include font-size(20px, 30px);
    @include clear-list;
  }

  .filter-country__list-collapse {
    @include font-bold($dark-blue);
    @include font-size(20px, 30px);
    text-transform: uppercase;
    text-align: center;
    display: block;
    width: 100%;
    height: 100px;
    padding-top: 34px;
    margin: 24px auto 150px;
    background-color: $white-two;
    border-radius: 25px;
  }

  .filter-country__list-collapse-text {
    margin-left: -5px;
  }
}
