.filter-country__head {
  display: none;
  max-width: 350px;
  height: 22px;
  justify-content: space-between;
  align-items: baseline;
  padding: 2px 26px;
  margin: 0 auto;
  margin-bottom: -21px;

  &--mobile {
    display: flex;
  }
}

.filter-country {
  display: none;
  background-color: $white;
  padding: 20px;
}

.filter-country__title {
  @include font-size(16px, 22px);
  color: $dark-blue;
  text-transform: uppercase;
}

.filter-country__button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  padding-left: 15px;
  padding-right: 0;
}

.filter-country__close {
  @include font-bold($dark-blue-two);
  @include font-size(16.5px, 29.5px);
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 270px;
  height: 40px;
  background-color: $white-two;
  border-radius: 20px;
}

@media (min-width: $tablet-width) {
  .filter-country__head {
    &--mobile {
      display: none;
    }

    &--tablet {
      @include font-bold($dark-blue);
      @include font-size(20px, 24px);
      text-transform: uppercase;
      display: flex;
      min-width: 688px;
      padding-top: 57px;
      margin-bottom: 128px;
    }
  }

  .filter-country__region-list {
    @include clear-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 5px;
    margin-right: 45px;
  }

  .filter-country__region-item {
    opacity: 0.3;
    margin-right: 28px;

    &--active {
      opacity: 1;
    }
  }

  .filter-country__button {
    font-size: 48px;
    margin-right: 6px;
    align-self: center;
  }
}
