.header {
  position: relative;
  padding: 25px;
  padding-bottom: 0;
  min-height: 480px;

  background:
    url("../img/traveller-illustration-mobile@1x.png") no-repeat 55% bottom,
    url("../img/globe-back-mobile@1x.jpg") no-repeat left center $dark-blue-two;

  background-size:
    auto,
    100%;

  @include font-bold;
  font-size: 36px;
  line-height: 40px;
}

.header__logo--tablet {
  display: none;
}

.header__menu-button {
  width: 26px;
  height: 11px;
  align-self: center;
}

.header__nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.header__tagline {
  text-align: center;
  z-index: 1;
}

.header__call-us {
  @include round-block(40px, 40px);
  display: block;
  background: url("../img/topmenu-phone.svg") no-repeat center center $color-mango;
  background-size: 50%;
}

.header__feedback {
  @include round-block(40px, 40px);
  display: block;
  background: url("../img/topmenu-mail.svg") no-repeat center center $dark-yellow;
  background-size: 50%;
}

.header__authorization {
  @include font-size(17px, 30px);
  display: inline-block;
  padding: 5px 40px;
  background-color: $yellow;
  border-radius: 25px;

  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  color: $dark-blue-two;
}

.header__contact-wrapper {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media (min-width: 630px) {
  .header {
  min-height: 800px;
  background:
    url("../img/traveller-illustration-tablet@1x.png") no-repeat 350px bottom,
    url("../img/globe-back-tablet@1x.jpg") no-repeat 100% 100% #182044;

  background-size:
    50%,
    150%;
  z-index: -1;
  }

  .header__logo {
    display: none;
  }

  .header__logo--tablet {
    display: block;
  }

  .header__feedback,
  .header__call-us {
    display: none;
  }

  .header__nav-wrapper {
    width: 50%;
  }

  .header__contact-wrapper {
    width: auto;
    display: block;
    position: absolute;
    top: 5%;
    left: 68%;
  }

  .header__tagline {
    margin: 50px 25% 0 25%;
  }
}
