.header {
  position: relative;
  padding: 14px 25px 0 25px;
  min-height: 469px;

  background:
    url("../img/traveller-illustration-mobile@1x.png") no-repeat 61% 223px,
    url("../img/globe-back-mobile@1x.jpg") no-repeat left 0 $dark-blue-two;

  background-size:
    auto,
    100%;

  @include font-bold;
  font-size: 36px;
  line-height: 40px;
}

.header__menu-button {
  width: 25px;
  height: 3px;
}

.header__nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.header__tagline {
  text-align: center;
  z-index: 1;
  padding: 0 10px;
}

.header__call-us {
  @include round-block(40px, 40px);
  position: relative;
  display: block;
  background-color: $color-mango;
  text-align: center;

  &:hover {
    background-color: $dark-mango;
  }
}

.header__call-us:active .header__call-us-icon {
  opacity: 0.3;
}

.header__call-us-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__feedback {
  @include round-block(40px, 40px);
  position: relative;
  display: block;
  background-color: $dark-yellow;

  &:hover {
    background-color: $dark-mango;
  }
}

.header__feedback-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__feedback:active .header__feedback-icon {
  opacity: 0.3;
}

.header__authorization {
  @include font-size(17px, 30px);
  display: inline-block;
  padding: 5px 40px;
  background-color: $yellow;
  border-radius: 25px;

  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  color: $dark-blue-two;

  &:hover {
    background-color: $dark-mango;
  }
}

.header__authorization:active .header__authorization-text {
  opacity: 0.3;
}

.header__contact-wrapper {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .header {
    min-height: 1000px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 41px;
    padding-left: 41px;

    background:
      url("../img/traveller-illustration-tablet@1x.png") no-repeat 72% 404px,
      url("../img/globe-back-tablet@1x.jpg") no-repeat 100% 100% #182044;
  }

  .header__logo img {
    width: 166px;
    height: 46px;
  }

  .header__authorization {
    @include font-size(20px, 30px);
    padding: 10px 28px;
  }

  .header__menu-button {
    margin-top: -14px;
  }

  .header__feedback,
  .header__call-us {
    display: none;
  }

  .header__nav-wrapper {
    width: 50.5%;
    margin-right: 18%;
  }

  .header__contact-wrapper {
    width: auto;
    display: block;
    position: static;
  }

  .header__tagline {
    @include font-size(60px, 70px);
    margin: -388px auto 0;
    padding: 0;
    padding-right: 14px;
    max-width: 410px;
    order: 2;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .header {
    @include round-bottom-corners(40px);
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    min-height: 750px;
    padding: 49px 43px 49px 61px;
    background:
      url("../img/traveller-illustration-desktop@1x.png") no-repeat 60% bottom,
      url("../img/globe-back-tablet@1x.jpg") no-repeat -146px 100% #182044;
  }

  .header__logo img {
    width: 200px;
    height: 50px;
  }

  .header__feedback,
  .header__call-us {
    display: block;
    width: 50px;
    height: 50px;
  }

  .header__menu-button {
    display: none;
  }

  .header__nav-wrapper {
    width: auto;
    margin: unset;
  }

  .header__contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 324px;
  }

  .header__tagline {
    @include font-size(60px, 70px);
    width: 400px;
    position: absolute;
    top: 205px;
    left: 128px;
    text-align: left;
    margin: unset;
    padding-right: 0;
  }

  .mobile-menu__user-navigation {
    display: none;
  }

  .mobile-menu__social {
    display: none;
  }
}
