.info {
  padding: 20px 58px 60px 49px;
  background: url("../img/about-mobile@1x.png") no-repeat center top $dark-blue;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.info__article {
  @include font-light;
  @include font-size(16px, 22px);
  margin-bottom: 19px;
}

.info__tagline {
  @include font-bold;
  @include font-size(16px, 22px);
  margin-bottom: 22px;
}

.info__about {
  display: none;
}

@media (min-width: $tablet-width) {
  .info {
    min-height: 500px;
    padding-right: 380px;
    background: url("../img/about-tablet@1x.png") no-repeat 90% center $dark-blue;
    background-size: 300px;
    padding-top: 160px;
    margin-top: -140px;
  }

  .info__title {
    @include font-size(45px, 45px);
  }

  .info__article {
    @include font-size(28px, 33px);
  }

  .info__tagline {
    @include font-size(21px, 25px);
  }

  .info__about {
    display: block;
    max-width: 275px;
  }
}

@media (min-width: $desktop-width) {
  .info {
    min-height: 750px;
    margin-top: 0;
    padding: 200px 120px;
  }

  .info__article {
    max-width: 610px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .info__tagline {
    max-width: 410px;
    margin-bottom: 70px;
  }
}
