.info {
  padding: 35px 45px 60px 45px;
  background: url("../img/about-mobile@1x.png") no-repeat center top $dark-blue;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.info__article {
  @include font-light;
  @include font-size(16px, 22px);
}

.info__tagline {
  @include font-bold;
  @include font-size(16px, 22px);
}

.info__about{
  display: none;
}

@media (min-width: 630px) {
  .info {
    min-height: 500px;
    padding-right: 380px;
    background: url("../img/about-tablet@1x.png") no-repeat 400px center $dark-blue;
    background-size: 40%;
  }

  .info__about {
    display: block;
  }
}
