.letter-table {
  @include font-medium($dark-blue-three);
  @include font-size(14px, 18px);
  text-transform: uppercase;
  text-align: center;
  border-collapse: collapse;
}

.letter-table__label {
  display: block;
  width: 45px;
  height: 45px;
  background-color: $absolute-white;
  padding-top: 12px;
}

input[type="radio"]:checked + .letter-table__label {
  background-color: $dark-blue-three;
  color: $absolute-white;
}
