.letter-table {
  @include font-medium($dark-blue-three);
  @include font-size(14px, 18px);
  text-transform: uppercase;
  text-align: center;
  border-collapse: collapse;

  &--form {
    width: 219px;
  }
}

.letter-table__label {
  display: block;
  width: 45px;
  height: 45px;
  background-color: $absolute-white;
  padding-top: 12px;
  border: 1px solid $light-grey;
  margin: -2px;
}

input[type="radio"]:checked + .letter-table__label {
  background-color: $dark-blue-three;
  color: $absolute-white;
}

input[type="radio"]:checked + .letter-table__label--form {
  background-color: $white-three;
  color: $dark-blue-three;
}
