.level {
  @include font;
  @include font-size(14px, 14px);
  position: absolute;
  top: 15px;
  left: 15px;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
  background-color: $black-opacity;

  &--directions {
    @include font-size(18px, 22px);
    @include font($grey);
    background-color: transparent;
    position: static;
  }
}

.level__number {
  @include font-bold;
  @include font-size(24px, 24px);
  display: block;
  position: relative;
  margin-bottom: 5px;

  &::after {
    content: "";
    display: block;
    width: 31px;
    height: 1px;
    background-color: $absolute-white;
    position: absolute;
    bottom: -3px;
    left: 15px;
  }

  &--directions {
    @include font-bold($dark-blue-two);
    @include font-size(38px, 38px);
  }
}

.level__scale-image {
  transform: scale(1.7) translate(12px, 12px);
  position: absolute;
  top: -5px;
  left: -5px;
  width: 60px;
  height: 60px;

  &--99 {
    stroke-dasharray: 170, 170;
  }

  &--80 {
    stroke-dasharray: 150, 150;
  }

  &--directions {
    top: -1px;
    left: -15px;
    width: 100px;
    height: 100px;
  }
}

@media (min-width: $tablet-width) {
  .level {
    top: 24px;
    left: 20px;
  }
}
