
.mobile-menu {
  display: none;
  background-color: $absolute-white;
  padding: 65px;
}

.mobile-menu__item-list {
  @include clear-list;
}

.mobile-menu__item-link {
  @include font-medium($dark-blue);
  @include font-size(30px, 36px);
  text-align: center;
  text-transform: uppercase;
}

.mobile-menu__authorization {
  @include font-medium($dark-blue-two);
  @include font-size(17px, 30px);
  text-align: center;
  text-transform: uppercase;
  border-radius: 30px;
}

.mobile-menu__tel,
.mobile-menu__email {
  @include font-medium($dark-blue);
  @include font-size(16px, 22px);
  text-transform: uppercase;
}

.mobile-menu__social-item {
  background-color: transparent;
}
