
.mobile-menu {
  display: none;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 570px;
  width: 100%;
  background-color: $absolute-white;
  padding: 25px;
  padding-top: 13px;

  &--opened {
    display: block;
  }
}

.mobile-menu__close {
  position: absolute;
  top: 39px;
  right: 23px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    left: -3px;
    width: 25px;
    height: 3px;
    background-color: #cccccc;
    z-index: 2;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.mobile-menu__item-list {
  @include clear-list;
  margin-top: 56px;
  margin-bottom: 52px;
  text-align: center;
}

.mobile-menu__item {
  margin-bottom: -3px;
}

.mobile-menu__item-link {
  @include font-medium($dark-blue);
  @include font-size(30px, 36px);
  text-align: center;
  text-transform: uppercase;
}

.mobile-menu__authorization {
  @include font-bold($dark-blue-two);
  @include font-size(17px, 30px);
  display: block;
  padding: 11px;
  padding-left: 7px;
  margin-bottom: 62px;
  background-color: $yellow;
  text-align: center;
  text-transform: uppercase;
  border-radius: 30px;
}

.mobile-menu__tel,
.mobile-menu__email {
  @include font-bold($dark-blue);
  @include font-size(16px, 22px);
  display: block;
  text-transform: uppercase;
  padding-left: 61px;
  position: relative;
}

.mobile-menu__tel-icon-wrap {
  @include round-block(45px, 45px);
  display: inline-block;
  background-color: $dark-blue-grey-two;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.mobile-menu__tel-icon {
  fill: $yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile-menu__tel {
  margin-bottom: 23px;
}

.mobile-menu__social {
  @include clear-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 43px;
  margin-left: 33px;
}

.mobile-menu__social-item {
  background-color: transparent;
  margin-right: 27px;
}

@media (min-width: $tablet-width) {
  .mobile-menu {
    padding-top: 45px;
    padding-left: 40px;
    min-height: 910px;
    z-index: 8;
  }

  .mobile-menu__logo {
    width: 166px;
  }

  .mobile-menu__close {
    top: 68px;
    right: 370px;
  }

  .mobile-menu__authorization {
    @include font-size(20px, 30px);
    width: 188px;
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .mobile-menu__item-list {
    text-align: left;
    padding-left: 56px;
    margin-top: 86px;
  }

  .mobile-menu__item-list a {
    @include font-size(60px, 71px);
  }

  .mobile-menu__user-navigation {
    margin-top: 162px;
    margin-left: 58px;
  }

  .mobile-menu__tel-icon-wrap {
    width: 67px;
    height: 67px;
  }

  .mobile-menu__tel-icon {
    width: 27px;
    height: 27px;
  }

  .mobile-menu__tel {
    margin-bottom: 38px;
  }

  .mobile-menu__tel,
  .mobile-menu__email {
    @include font-size(28px, 28px);
    padding-left: 90px;
  }

  .mobile-menu__social {
    justify-content: flex-start;
    padding-left: 44px;
    margin-top: 146px;
  }

  .mobile-menu__social-item {
    margin-right: 35px;
  }

  .mobile-menu__social-item svg {
    width: 25px;
    height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .mobile-menu {
    display: block;
    position: static;
    width: auto;
    min-height: unset;
    padding: 0;
    flex-grow: 1;
    background-color: transparent;

    &--form {
      display: flex;
    }

    &--catalog {
      display: flex;
      padding-top: 49px;
    }
  }

  .mobile-menu__item-list {
    @include font-medium;
    @include font-size(20px, 30px);
    display: flex;
    flex-wrap: wrap;
    margin: unset;
    padding-left: 144px;
    padding-top: 10px;

    &::before {
      content: "";
      width: 60px;
      height: 2px;
      position: absolute;
      left: 298px;
      top: 74px;
      display: block;
      background-color: $absolute-white;
      z-index: 2;
    }

    &--form {
      padding-left: 107px;
      margin-top: 50px;
    }

    &--catalog {
      padding-left: 107px;
    }
  }

  .mobile-menu__item-link {
    @include font-medium;
    @include font-size(20px, 30px);
    margin-right: 33px;
  }

  .mobile-menu__tel,
  .mobile-menu__email,
  .mobile-menu__authorization {
    &--form {
      margin-top: 50px;
    }
  }

  .mobile-menu__authorization {
    order: 2;

    &--form {
      @include font-size(20px, 30px);
      padding: 8px 11px 10px 7px;
      min-width: 190px;
    }

    &--catalog {
      @include font-size(20px, 30px);
      min-width: 189px;
    }

    &::after {
      display: none;
    }
  }

  .mobile-menu__tel {
    @include round-block(50px, 50px);
    position: relative;
    display: block;
    background-color: $color-mango;
    text-align: center;
    padding-left: unset;
    margin-left: 266px;

    &:hover {
      background-color: $dark-mango;
    }
  }

  .mobile-menu__tel:active .mobile-menu__tel-icon {
    opacity: 0.3;
  }

  .mobile-menu__tel-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mobile-menu__email {
    @include round-block(50px, 50px);
    position: relative;
    display: block;
    background-color: $dark-yellow;
    padding-left: unset;

    &:hover {
      background-color: $dark-mango;
    }
  }

  .mobile-menu__email-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mobile-menu__email:active .mobile-menu__email-icon {
    opacity: 0.3;
  }

  .mobile-menu__close {
    display: none;
  }
}
