.reviews {
  padding: 45px;
  background-color: $dark-blue-two;
}

.reviews__article {
  @include font-light;
  @include font-size(16px, 22px);
  margin-top: 10px;
  padding-left: 5px;
}

.reviews__description {
  @include font-bold;
  @include font-size(16px, 22px);
  margin-top: 19px;
  padding-left: 5px;
  padding-right: 40px;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 290px;
    min-height: 210px;
    background-color: transparent;
    position: absolute;
    top: 444px;
    left: 69px;
    z-index: 2;
    padding: 0;
  }

  .reviews__article {
    @include font-size(28px, 33px);
  }

  .reviews__description {
    @include font-size(21px, 25px);
    margin-top: 45px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    left: auto;
    top: 160px;
    right: 60px;
    width: 307px;
  }

  .reviews__article {
    margin-top: 59px;
    margin-left: 16px;
  }

  .reviews__description {
    margin-left: 16px;
    padding-right: 0;
  }
}
