.social-list {
  @include clear-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
}

.social-list__link {
  @include round-block(45px, 45px);
  display: block;
  position: relative;
  background-color: $yellow;
}

.social-list__social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
}

.social-list--mobile-menu {
  display: none;
}

@media (min-width: $tablet-width) {
  .social-list {
    padding: 0 0 0;
    margin-top: -9px;
    margin-left: -10px;
  }

  .inner-page-footer .social-list {
    margin-left: -11px;
  }

  .social-list__link {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    display: none;
  }

  .social-list__social-icon {
    width: 29px;
    height: 26px;
  }
}
