.social-list {
  @include clear-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-list__link {
  @include round-block(40px, 40px);
  display: block;
  position: relative;
  background-color: $yellow;
}

.social-list__social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-list--mobile-menu {
  display: none;
}
