.steps {
  padding: 0 25px;
  background-color: $dark-blue;
}

.steps__list {
  @include clear-list;
  @include font-bold($dark-blue-two);
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 30px;
}

.steps__step {
  padding: 25px;
}

.steps__step:first-child {
  @include round-top-corners(10px);
  background-color: $color-mango;
}

.steps__step:nth-child(2) {
  background-color: $color-light-mango;
}

.steps__step:nth-child(3) {
  background-color: $dark-yellow;
}

.steps__step:last-child {
  @include round-bottom-corners(10px);
  background-color: $yellow;
}

@media (min-width: 630px) {

  .steps__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -140px;
    z-index: 1;
  }

  .steps__step {
    width: 44%;
    min-height: 140px;
  }

  .steps__step:first-child,
  .steps__step:nth-child(2) {
    @include round-top-corners(15px);
  }

  .steps__step:nth-child(2n){
    margin-left: -25px;
  }

  .steps__step:last-child,
  .steps__step:nth-last-child(-n+2) {
    @include round-bottom-corners(15px);
  }
}
