.steps {
  padding: 0 25px;
  background-color: $dark-blue;
}

.steps__list {
  @include clear-list;
  @include font-bold($dark-blue-two);
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 30px;
  margin-top: -30px;
  counter-reset: stepCounter;
}

.steps__step {
  padding: 21px 60px 23px 24px;
  position: relative;
  counter-increment: stepCounter;

  &::after {
    @include font-bold($absolute-white);
    @include font-size(18px, 18px);
    content: counter(stepCounter);
    position: absolute;
    z-index: 2;
    top: 21px;
    right: 21px;
  }
}

.steps__step:first-child {
  @include round-top-corners(10px);
  background-color: $color-mango;
}

.steps__step:nth-child(2) {
  background-color: $color-light-mango;

  &::after {
    content: counter(stepCounter);
  }
}

.steps__step:nth-child(3) {
  background-color: $dark-yellow;

  &::after {
    content: counter(stepCounter);
  }
}

.steps__step:last-child {
  @include round-bottom-corners(10px);
  background-color: $yellow;

  &::after {
    content: counter(stepCounter);
  }
}

@media (min-width: $tablet-width) {
  .steps {
    background-color: transparent;
    margin-top: -145px;
    position: relative;
    z-index: 7;
  }

  .steps__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-left: 16px;
  }

  .steps__step {
    @include font-size(24px, 24px);
    width: 49.5%;
    min-height: 140px;
    padding: 29px 25px 25px 33px;

    &::after {
      @include font-size(30px, 30px);
      top: auto;
      right: auto;
      bottom: 24px;
      left: 31px;
    }

    &:first-child,
    &:nth-child(2) {
      @include round-top-corners(20px);
    }

    &:last-child,
    &:nth-last-child(-n+2) {
      @include round-bottom-corners(20px);
    }

    &:nth-child(2n) {
      margin-left: -16px;
    }

    &:first-child {
      border-top-right-radius: 0;
      width: 51%;
    }

    &:nth-child(3) {
      border-bottom-right-radius: 0;
      width: 51%;
    }

    &:nth-child(2) {
      margin-left: -15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .steps {
    position: relative;
    z-index: 2;
    margin-top: -229px;
    margin-left: 34px;
  }

  .steps__list {
    @include font-size(24px, 24px);
    margin-left: -14px;
  }

  .steps__step {
    width: 25.8%;
    margin-left: -4px;
    border-radius: 15px;
    min-height: 110px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:nth-child(2n) {
      width: 27%;
      margin-left: -30px;
      padding-left: 28px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:nth-child(3) {
      width: 27%;
      margin-left: -18px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:first-child {
      width: 25.8%;
      margin-left: 0;
    }

    &:last-child {
      padding-left: 34px;
      margin-left: -17px;
      width: 24%;
      border-radius: 20px;
    }

    &::after {
      left: auto;
      top: 23px;
      right: 46px;
    }

    &:first-child::after {
      top: 23px;
      right: 65px;
    }
  }
}
