.tags {
  position: relative;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid $light-grey;
  border-radius: 10px;

  &--form {
    padding: 24px 26px 0;
    line-height: 23px;
    max-width: 390px;
    margin: 0 auto;
    margin-top: 28px;
  }
}

.tags__title {
  @include font-bold($dark-blue-three);
  @include font-size(16px, 18px);
  text-transform: uppercase;
  text-align: center;
  width: 80px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white-three;
}

.tags__tags-area {
  border: 0;
  background-color: transparent;
  height: 59px;
  width: 240px;
  line-height: 22px;
}

.tags__tags-list {
  @include clear-list;
}

.tags__tag-item {
  display: inline-block;

  &--form {
    margin-left: 3px;
  }
}

.tags__tag-link {
  &::before {
    content: "#";
  }
}

@media (min-width: $tablet-width) {
  .tags {
    &--form {
      @include font-size(20px, 24px);
      padding: 32px 39px 0;
      line-height: 23px;
      max-width: 620px;
      margin: 55px auto 0;
    }
  }

  .tags__title {
    @include font-size(20px, 18px);
    letter-spacing: 2px;
    top: auto;
    bottom: -29px;
  }

  .tags__tag-item--form {
    margin-left: 0;
  }

  .tags__tags-area {
    width: 530px;
    height: 62px;
  }
}

@media (min-width: $desktop-width) {
  .tags {
    &--form {
      max-width: unset;
      width: 730px;
      margin-top: 68px;
      margin-left: 123px;
      border-radius: 10px;
    }
  }

  .tags__title {
    left: 64px;
  }
}
