.transport-list {
  @include clear-list;
  margin-top: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.transport-list__item {
  @include round-block(30px, 30px);
  margin-left: 5px;
}

.transport-list__label {
  @include round-block(30px, 30px);
  display: block;
}

.transport-list__item--plane {
  background: url("../img/plane.svg") no-repeat center center;
  background-size: 70%;
}

.transport-list__item--bus {
  background: url("../img/bus.svg") no-repeat center center;
  background-size: 70%;
}

.transport-list__item--bicykle {
  background: url("../img/bike.svg") no-repeat center center;
  background-size: 80%;
}

.transport-list__item--afoot {
  background: url("../img/run.svg") no-repeat center center;
  background-size: 80%;
}

.transport-list__label--plane-filter {
  background: url("../img/plane.svg") no-repeat center center $absolute-white;
  background-size: 50%;
}

.transport-list__label--bus-filter {
  background: url("../img/bus.svg") no-repeat center center $absolute-white;
  background-size: 50%;
}

.transport-list__label--bicykle-filter {
  background: url("../img/bike.svg") no-repeat center center $absolute-white;
  background-size: 60%;
}

.transport-list__label--afoot-filter {
  background: url("../img/run.svg") no-repeat center center $absolute-white;
  background-size: 60%;
}

@media (min-width: $tablet-width) {
  .transport-list {
    margin-bottom: 5px;
  }
}
