.transport-list {
  @include clear-list;
  margin-top: 12px;
  margin-left: -6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.transport-list__item {
  @include round-block(30px, 30px);
  position: relative;
  margin-left: 5px;

  &--form {
    @include round-block(33px, 33px);
    background-color: $absolute-white;
  }

  &--form label {
    @include round-block(40px, 40px);
    display: block;
  }

  &:active {
    background-color: $pale-grey-three;
  }

  &:hover .tooltip {
    display: block;
    z-index: 5;
  }

  &:hover .transport-list__icon {
    opacity: 0.3;
  }

  &:active .transport-list__icon {
    opacity: 0.1;
  }
}

.transport-list__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.15;

  &--active {
    fill: $dark-blue-three;
    opacity: 1;
  }
}

.transport-list__choose-transport {
  &:checked + .transport-list__icon {
    opacity: 1;
    fill: $dark-blue;
  }

  &:checked:hover + .transport-list__icon {
    opacity: 0.7;
  }

  &:checked:active + .transport-list__icon {
    opacity: 0.3;
  }
}

.transport-list__label {
  @include round-block(30px, 30px);
  display: block;
}

.catalog-page .transport-list {
  justify-content: flex-start;
  margin-top: 3px;
  margin-left: -8px;
  margin-bottom: 18px;

  &--user-form {
    margin-left: 0;
  }
}

.catalog-page .transport-list__icon {
  width: 14px;
  height: 16px;
}

.catalog-page .transport-list__item {
  @include round-block(33px, 33px);
  background-color: $absolute-white;
  margin-right: -5px;
}

@media (min-width: $tablet-width) {
  .transport-list {
    margin-top: 5px;
    margin-bottom: 5px;

    &--user-form {
      flex-direction: column;
      position: absolute;
      top: 26px;
      right: 40px;
      margin-left: 0;
      margin-right: -4px;
    }
  }

  .filter__set--transport .transport-list {
    margin: unset;
    margin-left: -10px;
  }

  .catalog-page .transport-list__item {
    @include round-block(43px, 43px);

    &--catalog {
      margin: 0;
      width: 34px;
      height: 31px;
    }
  }

  .catalog-page .transport-list {
    &--user-form {
      margin-right: 1px;
      margin-top: 6px;
    }
  }

  .catalog-page .transport-list__icon {
    width: 20px;
    height: 20px;
  }

  .transport-list__item {
    &--form {
      @include round-block(43px, 43px);
    }
  }
}

@media (min-width: $desktop-width) {
  .transport-list {
    margin-top: 9px;
    margin-left: -10px;
  }

  .catalog-page .transport-list--desktop {
    margin: 9px 0 22px -48px;
  }
}
