.transport-list {
  @include clear-list;
  margin-top: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.transport-list__item {
  @include round-block(30px, 30px);
  position: relative;
  margin-left: 5px;

  &--form {
    @include round-block(33px, 33px);
    background-color: $absolute-white;
  }
}

.transport-list__item:hover .tooltip {
  display: block;
}

.transport-list__label {
  @include round-block(30px, 30px);
  display: block;
}

.transport-list__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.15;
}

.transport-list__icon--active {
  opacity: 1;
  fill: $dark-blue;
}

.transport-list__label--plane-filter {
  background: url("../img/plane.svg") no-repeat center center $absolute-white;
  background-size: 50%;
}

.transport-list__label--bus-filter {
  background: url("../img/bus.svg") no-repeat center center $absolute-white;
  background-size: 50%;
}

.transport-list__label--bicykle-filter {
  background: url("../img/bike.svg") no-repeat center center $absolute-white;
  background-size: 60%;
}

.transport-list__label--afoot-filter {
  background: url("../img/run.svg") no-repeat center center $absolute-white;
  background-size: 60%;
}

.catalog-page .transport-list {
  justify-content: flex-start;
  margin-top: 3px;
  margin-left: -8px;
  margin-bottom: 18px;

  &--user-form {
    margin-left: 0;
  }
}

.catalog-page .transport-list__icon {
  width: 14px;
  height: 16px;
}

.catalog-page .transport-list__item {
  @include round-block(33px, 33px);
  background-color: $absolute-white;
  margin-right: -5px;
}

@media (min-width: $tablet-width) {
  .transport-list {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .transport-list__item {
    &--form {
      @include round-block(43px, 43px);
    }
  }
}
