.user-card {
  padding-bottom: 18px;
  margin-bottom: 9px;
  background-color: $absolute-white;
  position: relative;
  border-radius: 10px;
}

.user-card__image {
  @include round-top-corners(10px);
}

.user-card__image--catalog {
  @include round-block(70px, 70xp);
  float: left;
}

.user-card__user-link {
  position: relative;
  padding-left: 60px;
}

.user-card__name {
  @include font-bold($dark-blue-three);
  @include font-size(21px, 21px);
  display: inline-block;
  margin: 8px;
  margin-bottom: 16px;
  text-align: center;

  &::before {
    @include round-block(5px, 5px);
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 53px;
    background-color: $light-red;
  }

  &--online::before {
    background-color: $green;
  }
}

.user-card__tags-list {
  @include clear-list;
  @include font($grey);
  @include font-size(16px, 18px);
  max-width: 200px;
  margin: 0 auto;
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card__tag {
  margin-right: 5px;
}

.user-card__tag-link::before {
  content: "#";
}

.user-card__like {
  @include round-block(31px, 31px);
  float: left;
  background: url("../img/heart.svg") no-repeat center center $white-three;
  background-size: 50%;
  border: none;
}

.user-card__like--liked {
  background: url("../img/heart-active.svg") no-repeat center center $white-grey;
  background-size: 50%;
}

.user-card__set-separator {
  @include font($grey);
  @include font-size(15px, 18px);
}

.user-card__tag-link--catalog {
  @include font($grey);
  @include font-size(15px, 18px);
}

.user-card__level--catalog {
  @include font($grey);
  background-color: transparent;
}

.user-card__level-number--catalog {
  @include font-bold($dark-blue-three);
  @include font-size(24px, 18px);
}

.user-card__call-link {
  @include font-bold($dark-blue-two);
  @include font-size(17px, 30px);
  text: {
    align: center;
    transform: uppercase;
  }
  width: 230px;
  height: 40px;
  border-radius: 20px;
}

@media (min-width: $tablet-width) {
  .user-card {
    width: 42.5%;
    margin-right: 7%;
  }

  .user-card__user-link {
    display: block;
  }

  .user-card__name {
    @include font-bold($dark-blue);
    @include font-size(24px, 24px);
    padding-top: 3px;
    margin-bottom: 20px;

    &::before {
      top: 22px;
      left: 48px;
    }
  }

  .user-card__tags-list {
    @include font-size(20px, 24px);
    max-width: unset;
    padding: 0 10px;
    margin-bottom: 24px;
  }

  .user-card__tag {
    margin-left: 2px;
  }
}

@media (min-width: $desktop-width) {
  .user-card {
    width: 41.5%;
    margin-right: 67px;
  }

  .user-card:last-child {
    margin-right: 0;
  }
}
