$desktop-width: 1440px;
$tablet-width: 768px;

/* --- colors --- */

$color-mango: #ff8d30;
$color-light-mango: #ffa530;
$orange-red: #ff5c23;
/* yellow */
$dark-yellow: #ffbd30;
$yellow: #ffd74b;
$yellow-two: #f3c72b;
/* blue */
$dark-blue: #192144;
$dark-blue-two: #161c35;
$dark-blue-three: #1d2e5b;
$dark-blue-opacity: rgba(25, 33, 68, 0.3);
$dark-slate-blue: rgba(29, 46, 91, 0.3);
$light-blue: #d4d9eb;
/* grey */
$grey: #444444;
$grey-white: #e1e3e9;
$light-grey: #cbced9;
$pale-grey-two: #dfe3f0;
$greyish-brown: rgba(68, 68, 68, 0.3);
/* white */
$absolute-white: #ffffff;
$white: #e2e5f2;
$white-two: #d6daed;
$white-three: #edeff6;
$white-grey: #f9eaea;
/* black */
$black-opacity: rgba(0, 0, 0, 0.6);
/* red */
$light-red: #f97676;
/* green */
$green: #81e31e;
