.letter-table {
  @include font-medium(#1d2e5b);
  @include font-size(14px, 18px);
  text: {
    transform: uppercase;
    align: center;
  }
  border-collapse: collapse;
}

.letter-table__label {
  display: block;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  padding-top: 12px;
}

input[type="radio"]:checked + .letter-table__label {
  background-color: #1d2e5b;
  color: #ffffff;
}
